<nav class="navbar bg-base-100">
    <div class="flex-1">
      <ul class="menu menu-horizontal bg-base-200">
        {% for item in site.data.navigation %}
        <li><a href="{{ item.link }}" {% if page.url == item.link %}
          class="current"{% endif %}>{{ item.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
    <div class="flex-none gap-2">
      <div class="form-control">
        <input type="text" placeholder="Search" class="input input-bordered w-24 md:w-auto" />
      </div>
    </div>
</nav>