<nav class="navbar bg-base-100 shadow-sm">
  <div class="flex-1 justify-start">
    <button class="btn btn-lg btn-ghost height:5rem leading-relaxed text-3xl font-bold justify-start"><a href="/" 
    {% if page.url == "/" %}
      class="current text-transparent bg-clip-text bg-gradient-to-r from-secondary to-primary"
    {% endif %}>
    Marty Haught</a></button>
  </div>
    <div class="flex-1 justify-end">
      <ul class="menu menu-horizontal">
        {% for item in site.data.navigation %}
          {% if item.link == "/" %}
            {% continue %}
          {% endif %}
        <li><button class="btn btn-ghost btn-lg"><a href="{{ item.link }}" 
        {% if page.url == item.link %}
          class="current text-primary"
        {% endif %}>
        {{ item.name }}</a></button></li>
        {% endfor %}
      </ul>
    </div>
    


</nav>