---
layout: default
heading: Marty Haught
title: Marty Haught
description: Engineering leader near Boulder, Colorado
---

{% include heading.html heading=page.heading %}
<main class="py-6">
  <h2>
    Engineering leader near Boulder, Colorado.  Mentor to entrepreneurs, Advisor to startups. HashiCorp and Fastly alum. 
  </h2>

  {% include sidebar.html %}
	{% for post in site.posts %}
	<li><a href="{{ post.url }}">{{ post.title }}</a></li>
	<div class="mb-12">
	  	{{post.excerpt}}
	</div>
  {% increment num %}
  {% if num == 3 %}
    {% break %}
  {% endif %}
	{% endfor %}
  </main>
